html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #131923;
    color: #D5D4D8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 12px;
}

/* sections */
.generator {
    width: 550px;
    height: 550px;
    background-color: #1F2937;
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 24px 15px;
}

main {
    display: flex;
    height: 414px;
    justify-content: stretch;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 46px;
}

/* buttons */
button, select {
    cursor: pointer;
    font-family: "Inter", sans-serif;
}

.main-color {
    border: 4px solid #E5E5E5;
    background-color: #F55A5A;
    width: 61px;
    height: 43px;
}

select {
    width: 312px;
    background-color: #1F293A;
    color: #D5D4D8;
    border: solid 1px #D1D5DB;
    border-radius: 6px;
    padding: 0 13px;
    font-size: 16px;
}

select:focus {
    outline: none;
}

.btn-get-color {
    background-color: #3D4B60;
    border: none;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    padding: 13px 11px;
}

/* colors (temporary) */
.color{
    height: 100%;
    width: 100%;
}

#color-1 { background-color: #F55A5A;}
#color-2 { background-color: #2B283A;}
#color-3 { background-color: #FBF3AB;}
#color-4 { background-color: #AAD1B6;}
#color-5 { background-color: #A626D3;}