html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #131923;
    color: #D5D4D8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 11px;
}

/* sections */
.generator {
    width: 550px;
    height: 550px;
    background-color: #1F2937;
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 24px 15px;
}

main {
    display: flex;
    height: 414px;
    justify-content: stretch;
}

footer {
    display: flex;
    justify-content: stretch;
    align-items: center;
    height: 46px;
}

footer p {
    flex: 1;
    text-align: center;
}

.modal {
    display: none;
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 320px;
    height: 100px;
    background-color: #1F293A;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 10px black;
    border: 2px solid #E5E5E5;
    border-radius: 6px;
}

/* buttons select input */
button, select {
    cursor: pointer;
    font-family: "Inter", sans-serif;
}

.main-color {
    border: 4px solid #E5E5E5;
    background-color: #F55A5A;
    width: 61px;
    height: 43px;
}

select, input {
    background-color: #1F293A;
    color: #D5D4D8;
    border: solid 1px #D1D5DB;
    font-size: 16px;
}

select {
    width: 312px;
    padding: 0 13px;
    border-radius: 6px;
}

select:focus {
    outline: none;
}

.btn-get-color {
    background-color: #3D4B60;
    border: none;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    padding: 13px 11px;
}

input {
    width: 150px;
    padding: 9px;
    border-radius: 4px;
}

.color, p {
    cursor: pointer;
}

/* colors */
.color{
    height: 100%;
    width: 100%;
}